body {
    background: #1a001f;
    color: white;
    font-family: Arial;
    margin: 0;
    text-align: center;
}

.gameRow {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

.side {
    width: 200px;
}

#clickUpgrades,
#autoUpgrades {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#skull {
    width: 200px;
    cursor: pointer;
    transition: transform 0.1s;
}

.bounce {
    transform: translateY(-40px);
}

button {
    width: 100%;
    padding: 8px;
    background: purple;
    color: white;
    border: none;
    cursor: pointer;
}

.floating {
    position: absolute;
    color: white;
    font-weight: bold;
    animation: floatUp 0.8s forwards;
}

@keyframes floatUp {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-50px); }
}